@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --color-green: #15616d;
  --color-blue: #46b1c9;
  --color-purple: #d7b8f3;
  --color-pink: #f7cacd;
  --color-white: #f7f3e3;
  --color-orange: #f86624;
  --color-red: #a62639;
  --color-black: #0d0221;
  --font-general-zise: calc(min(100vh, 100vw) * 0.03);
}
body {
  position: absolute;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: var(--font-general-zise);
  color: var(--color-black);
}
* {
  transition: all, 0.1s ease-out;
  /* outline: 1px var(--color-orange) dashed; */
}
[data-clickeable]:hover {
  opacity: 0.7;
  backdrop-filter: brightness(90%);
  cursor: pointer;
}
.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* @media (orientation: portrait) { }
@media (orientation: landscape) { } */

.slide-container main {
  width: 90vw;
  height: calc(90vw * 0.3);
  /* background-color: var(--color-white); */
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row;
  border-bottom: 1px dashed var(--color-black);
  border-left: 1px dashed var(--color-black);
}
img {
  height: 80%;
  user-select: none;
}
img.control {
}
img::selection {
  background: transparent;
}
.selectors {
  position: absolute;
}
.selectors > div {
  background-color: var(--color-red);
  border-radius: 50%;
  width: calc(var(--font-general-zise) * 0.5);
  height: calc(var(--font-general-zise) * 0.5);
  position: fixed;
  cursor: grab;
  outline: var(--color-orange) 2px dotted;
  animation: r 5s infinite linear;
}
.label {
  position: relative;
  bottom: var(--font-general-zise);
  font-size: calc(var(--font-general-zise) * 0.8);
  right: 200%;
  font-family: monospace;
}
@keyframes r {
  from{
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
