@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --color-green: #00ff22;
  --color-blue: #00f3ff;
  /* --color-blue: #46b1c9; */
  --color-purple: #d7b8f3;
  --color-pink: #f7cacd;
  --color-white: #f7f3e3;
  --color-red: #ff0000;
  --color-black: #0d0221;
  --font-general-zise: calc(min(100vh, 100vw) * 0.03);
}
body {
  position: absolute;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: var(--font-general-zise);
  color: var(--color-black);
  width: 100vw;
  height: 100vh;
}
section {
  background-color: #0000002a;
  padding: 2%;
  text-align: center;
  border-radius: 1rem;
  width: 40vw;
  height: calc(calc(40vw * 4) / 9);
  position: absolute;
  display: inline-block;
  bottom: 10vh;
}
.tableA {
  left: 5vw;
}
.tableB {
  right: 5vw;
}
.height1 {
  height: 40vh;
}
img {
  width: 26%;
  box-shadow: 4px 4px 7px 0 #0005;
  margin: 1%;
  border-radius: 5px;
  transition: width, height 0.5s;
}
img[data-status="1"] {
  outline: var(--color-green) 2px solid;
  outline-offset: 2px;
  width: 28%;
}
body {
  background: var(--color-purple);
}
img[data-status="1"].shake {
  outline: var(--color-red) 2px solid;
  animation: tilt-shaking 0.5s 2;
}
.delete {
  animation: small-transparent 0.5s;
  animation-fill-mode: forwards;
}
.adder {
  height: 8vh;
  position: relative;
  bottom: -2vh;
  border: var(--color-black) 2px dashed;
  background: transparent;
}
img[id="modelo-carta"],
img[id="modelo-sobre"] {
  height: 80%;
  width: auto;
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes small-transparent {
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@media (orientation: portrait) {
  body {
    text-align: center;
  }
  section {
    width: 85vw;
    height: 32vh;
    /* height: calc(calc(40vw * 4)/9); */
    position: initial;
    margin: 1vh 0;
  }
  .tableA {
    left: inherit;
  }
  .tableB {
    right: inherit;
  }
  img {
    width: auto;
    height: calc(100% / 4.6);
  }
  img[data-status="1"] {
    width: auto;
    height: calc(100% / 4.4);
  }
}
