@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --color-green: #15616d;
  --color-blue: #46b1c9;
  --color-purple: #d7b8f3;
  --color-pink: #f7cacd;
  --color-white: #f7f3e3;
  --color-orange: #f86624;
  --color-red: #a62639;
  --color-black: #0d0221;
  --font-general-zise: calc(min(100vh, 100vw) * 0.03);
}
body {
  position: absolute;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: var(--font-general-zise);
  color: var(--color-black);
}
section{
  background-color: #0000002A;
  /* border: 2px dashed var(--color-green); */
  /* display: grid;
  justify-content: center;
  align-items: center;
  gap: 2%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  padding: 2%;
  text-align: center;
  border-radius: 1rem;
}
img{
  width: 25%;
  box-shadow: 4px 4px 7px 0 #0005;
  margin: 1%;
  border-radius: 5px;
  transition: all, .5s;
}
img[data-status="1"]{
  outline: #f00 2px solid;
  outline-offset: 2px;
  width: 26%;

}
body {
  background: var(--color-purple);
}
.shake{
  animation: tilt-shaking .5s 2;
}
.delete{
  animation: small-transparent .5s;
  animation-fill-mode: forwards;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes small-transparent {
  100% { 
    transform: scale(0);
    opacity: 0;
   }
}